.btn-all {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 85vh ;
  background-color: #0078bf;
}

.d-grid {
  width: 80% ; 
  height: auto ;
}

.btn {
  /* color: #fff; */
  padding: 10px !important;
  font-size: 22px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  color: #000 !important;
  background-color: aliceblue !important; 
  transition: background-color 0.3s ease !important; 
  /* color: aliceblue !important; */
}

.btn:hover {
  background-color: #1498d5 !important; 
  color: white !important; 
}

/* In button.css or a relevant CSS file */
.navigation-links {
  display: flex; /* Aligns the links in a row */
  justify-content: center; /* Centers the links horizontally */
  margin: 20px 0; /* Adds some spacing around the links */
}

.btn-leave {
  background-color: #007bff; /* Bootstrap primary color for a button look */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for better clickability */
  margin: 0 10px; /* Space between buttons */
  text-decoration: none; /* Removes underline from links */
  border-radius: 4px; /* Rounds the corners of the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.btn-leave:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
