.navbar {
  height: 150px;
}

.navbar-brand {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px !important;
  color: #000 !important;
}

.bg-navbar {
  background-color: #1498d5(0, 78, 147);
}

img {
  width: 150px;
  height: auto;
  /* margin-top: 40px !important; */
}

.container-fluid {
  display: flex;
  align-items: stretch !important;
}

a {
  margin-bottom: -10px;
}

.navbar-position {
  margin-bottom: 5%;
}

.navbar-position {
  display: flex;
  justify-items: end;
  flex-direction: column;
  align-items: stretch;
}

.navbar-position i {
  font-size: 30px;
}

.square {
  width: 180px;
  height: 60px !important ;
  background-color: #0078bf;
  display: flex;
  border-radius: 30px;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.square i {
  color: white;
  font-size: 30px;
  margin-left: 20px;
}

#signout {
  color: #0078bf;
  font-size: 35px;
  cursor: pointer;
  padding: 15px !important;
  margin-bottom: 12px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
  color: antiquewhite;
  margin-top: 15px !important ;
  margin-left: 18px;
}

.square-logo {
  width: 175px;
  height: 130px;
  margin-right: 20px;
  background: aliceblue;
  border-radius: 30px;
}
.square-position {
  display: flex;
  align-items: center; /* จัดกึ่งกลางในแนวตั้ง */
  justify-content: space-between; /* แบ่งพื้นที่ระหว่างเด็กให้มากที่สุด */
  flex-grow: 1; /* อนุญาตให้ขยายและเติมพื้นที่ที่มีอยู่ */
}

.square-title {
  width: 75%;
  height: 130px;
  margin-right: 20px;
  background: aliceblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* จัดกึ่งกลางเนื้อหาภายในแนวตั้ง */
  align-items: center; /* จัดกึ่งกลางเนื้อหาภายในแนวนอน */
}

.square-icon {
  width: 300px;
  height: 130px;
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
