body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: black !important;
  font-size: 30px !important;
}

h2.table-title {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  flex-direction: column; /* ทำให้เป็นคอลัมน์ */
  margin: 20px 0; /* ระยะห่างด้านบนและล่าง */
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin-bottom: 5px;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* เพื่อให้มีระยะห่างด้านบน */
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  color: black; /* เปลี่ยนตัวหนังสือเป็นสีดำ */
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.no-data {
  text-align: center;
  padding: 10px;
  color: #888;
}

input[type="checkbox"] {
  cursor: pointer;
}

.editButton {
  background-color: #008cba;
  color: white; /* เปลี่ยนตัวหนังสือเป็นสีขาว */
  padding: 5px 10px; /* เพิ่ม padding สำหรับปุ่ม */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #007b9a;
}

.deleteButton {
  background-color: #f44336;
  color: white; /* เปลี่ยนตัวหนังสือเป็นสีขาว */
  padding: 5px 10px; /* เพิ่ม padding สำหรับปุ่ม */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.ot-container {
  background-color: #f2f2f2; /* สีพื้นหลัง */
  justify-content: flex-start; /* จัดให้เริ่มจากด้านบน */
  align-items: flex-start; /* จัดให้เริ่มจากด้านบน */
  height: auto; /* กำหนดความสูงให้เป็นอัตโนมัติ */
  width: 100%;
  margin-top: 30px;
  border-radius: 5px; /* มุมโค้ง */
  padding: 20px; /* เพิ่ม padding เพื่อให้ตารางไม่ติดขอบ */
}

.btn-ot {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #f8f9fa; /* สีพื้นหลังอ่อน */
  color: #343a40; /* สีตัวอักษรเข้ม */
  border: 1px solid #ced4da; /* เส้นกรอบสีอ่อน */
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-ot:hover {
  background-color: #e2e6ea; /* สีพื้นหลังเมื่อชี้เมาส์ */
  color: #212529; /* สีตัวอักษรเมื่อชี้เมาส์ */
}

.navigation-links-ot {
  display: flex;
  flex-direction: column;
}

.d-flex{
    height: 80vh;
}
