body {
  background-color: #0078bf;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
}

.header {
  height: 50px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  border-radius: 5px; /* มุมโค้ง */
}

.col-3 {
  width: 25%;
  height: 78vh !important;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #0078bf;
}

.col-sm-9 {
  width: 75%;
  /* height: 75%; */
  padding: 20px;
  background-color: #ffffff; /* สีพื้นหลังที่อ่อนกว่า */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container {
  height: 69vh !important ;
  overflow-y: auto;
  background-color: #ffffff; /* เปลี่ยนพื้นหลังเพื่อให้ตารางดูชัดเจน */
  border-radius: 5px; /* มุมโค้ง */
}

.table {
  height: 75vh;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px; /* เพิ่มช่องว่างด้านบน */
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #0078bf; /* สีพื้นหลังของ header */
  color: #ffffff; /* สีตัวอักษรใน header */
  z-index: 1;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #dee2e6; /* เพิ่มขอบให้เซลล์ */
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* สีพื้นหลังแถวคู่ */
}

.table tbody tr:hover {
  background-color: #e0f7fa; /* สีพื้นหลังเมื่อวางเมาส์ */
}

.form-label {
  font-weight: bold;
}

.form-select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #0078bf;
  color: #fff; /* เปลี่ยนสีตัวอักษร */
}

.bg-light {
  background-color: #0078bf !important;
  color: aliceblue;
}

.text-center {
  text-align: center;
}

.square-back {
  color: white; /* ตัวอักษรสีขาว */
  margin-top: 45vh;
}

.btn-back {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #f8f9fa; /* สีพื้นหลังอ่อน */
  color: #343a40; /* สีตัวอักษรเข้ม */
  border: 1px solid #ced4da; /* เส้นกรอบสีอ่อน */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-back:hover {
  background-color: #e2e6ea; /* สีพื้นหลังเมื่อชี้เมาส์ */
  color: #212529; /* สีตัวอักษรเมื่อชี้เมาส์ */
}

.col-sm-9 .bg-light .p-3{
  height: 20%;
} 